* {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    height: 600px;
}

table {
    margin-top: 20px;
    border-spacing: 0;
}

#header{
    text-align: center;
    height: 100px;
    background-color: #ed145b;
}

#table-section{
    margin-top: 30px;
    width: 50%;
    text-align: center;
}


#form-section{
    margin-top: 30px;
    width: 20%;
    text-align: center;
}


#table-head  {
    border-spacing: 0;
}


#table-head > tr > th {
    margin: 0;
    width: 100px;
    background-color: #1e90ff;
}

#table-body  {
    border-spacing: 0;
   
}

#empty-row{
    background-color: rgb(139, 137, 137);
    padding: 10px;
    height: 20px;
}

form {
    margin-top: 20px;
    background-color: rgb(209, 206, 206);
    padding: 10px;
}

.row {
    padding: 10px;
    background-color: rgb(189, 185, 185);

}

.input{
    margin: 20px;
}

footer{
    height: 50px;
    background-color: #ed145b;
    text-align: center;
}